.btn {
  background: linear-gradient(135deg, #6a5acd, #3b82f6);
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.85;
}
.card {
  background-color: #1e1e2a;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}
.card img {
  width: 100%;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}



.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(59,130,246,0.6);
}

.card h3 {
  margin-bottom: 10px;
  color: #8b5cf6;
}

.form {
  max-width: 400px;
}

.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #1e1e2a;
  color: #e0e0e0;
}

.form input::placeholder {
  color: #888;
}

.form button {
  width: 100%;
  margin-top: 8px;
}

.image-wrap {
  background: radial-gradient(circle, #3b82f6, #1f1f2e);
  border-radius: 16px;
  padding: 18px;
}

.image-wrap img {
  width: 100%;
  filter: drop-shadow(0 0 20px rgba(59, 130, 246, 0.6));
}
/* форма регистрации -------------------- */
.form-register {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-register label {
  font-weight: bold;
  color: #cfcfcf;
}

.form-register input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #2c2c3c;
  color: #fff;
}

.form-register input::placeholder {
  color: #aaa;
}

.form-register .btn {
  margin-top: 12px;
}

