/* Шапка */
.header {
  background-color: #1f1f2e; /* темный фиолетово-синий */
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

/* Меню */
.nav__list {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 16px;
}

.nav__list a {
  font-weight: bold;
  font-size: 16px;
}

/* Основной контент */
.main {
  max-width: 1100px;
  margin: 40px auto;
  padding: 24px;
}

.section {
  margin-bottom: 310px;
}

.footer {
  background-color: #1f1f2e;
  color: #cfcfcf;
  text-align: center;
  padding: 20px;
}

.courses {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 767px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .courses {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .courses {
    justify-content: center;
  }

  .card {
    width: 45%;
  }
}
